*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container { 
    background-color: #181A1E;
    padding: 1rem 2rem 2rem 2rem;
    text-align: justify;
}
.title { 
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.container p {
    color: rgb(164, 164, 164);
    font-size: .8rem;
}