*{
    padding: 0;
    margin: 0;
}
.footer {
    background-color: #0a0b0e;
}

.footer-icons { 
    background-color: #fff;
    border-radius: 2px;
    /* padding: 1rem; */
    margin: 0 1rem;
    /* padding: .2rem; */
    font-size: 1.2rem;
}