.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-logo {
  width: 70px;
  height: 70px;
}

.nav-menu { 
  background-color: rgba(5, 133, 158, 0.708);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;

}
.nav-menu .nav-item{ 
   display: flex;
   list-style: none;
}
.nav-menu .nav-item .item-list { 
  margin: auto;
  padding-left: 3rem;
}

img {
  width: 100px;
  height: 100px;
}

/* Ordered List */
.OrderedList{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.OLtitle { 
  font-size: 2rem;
}
.orderedListItem{
  text-align: justify;
}
.orderedListItem li { 
  font-size: 1.5rem;
}

.App-link {
  color: #61dafb;
}
/* Footer */
.footer { 
  background-color: gray;
  position:absolute;
  bottom:0;
  width: 100%;
  padding: 1rem 0;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
