.App {
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4570c8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.nav-logo {
  width: 50px;
  height: 50px;
}

.nav-menu { 
  background-color: rgba(4, 3, 3, 0.838);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 4rem;
  margin-bottom: 0;

}
.nav-menu .nav-item{ 
   display: flex;
   justify-content: space-between;
   list-style: none;
}
.nav-menu .nav-item .item-list { 
  margin: 0;
  padding-left: 3rem;
  color: #fff;
 


}



/* Ordered List */
.OrderedList{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.OLtitle { 
  font-size: 2rem;
}
.orderedListItem{
  text-align: justify;
}
.orderedListItem li { 
  font-size: 1.5rem;
}

.App-link {
  color: #61dafb;
}

/* About */
.about { 
  background-color: rgba(17, 14, 14, 0.775);
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  height: 100%;
  margin-top: 0;
  color: #fff;
  padding-left: 5rem;
}
.about h1 {
  font-size: 3rem;
}
.about-item-list{
  text-align: justify;
  color: rgb(0, 0, 64);
  font-size: 2rem;
}
.about-item-list span {
  color: #fff;
  font-size: 1.2rem;

}

/* Footer */
.footer { 
  background-color: gray;
  /* position:absolute;
  bottom:0; */
  width: 100%;
  padding: 1rem 0;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
